<div class="article{% if include.class %} {{ include.class }}{% endif %}">
  <div class="article__inner">

    <div class="article__head">
      <a href="{{ post.url }}" class="article__image" aria-hidden="true" tabindex="-1">
        <img class="lazy" data-src="{{ site.s3_url }}/{{ post.series }}/meta/square.jpeg" alt="{{ post.title | escape }}">
      </a>
    </div>

    <div class="article__content">

      <div class="article__meta">
        {% if post.tags.size >= 1 %}
        <div class="article__tags">
        {% for tag in post.tags %}
          <a href="/tag-search/?tag={{ tag | downcase | url_encode }}" class="article__tag">{{ tag }}</a>
        {% endfor %}
        </div>
        {% endif %}
        <!-- <span class="article__date">•<time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%d %-b, %Y" %}{{ post.date | date: date_format }}</time></span> -->
      </div>

      <h2 class="article__title" style="display: inline;">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <span>
        {% if post.year_end %}
        <span>({{ post.year_start }}–{{ post.year_end }})</span>
        {% elsif post.ongoing %}
        <span>({{ post.year_start }}–)</span>
        {% else %}
        <span>({{ post.year_start }})</span>
        {% endif %}
      </span>

      <!-- {% if include.description == true %}
      <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 250 }}{% endif %}</p>
      {% endif %} -->

      <!-- <div class="article__info">
        {% assign author = site.authors | where: 'username', post.author | first %}
        {% if author %}
          By <a class="article__author__name" href="{{ author.url }}">{{ author.name }}</a>
        {% endif %}
      </div> -->

    </div>
  </div>
</div>