---
layout: default
---

<!-- begin page -->
<div class="container">

  <article class="page">
    <div class="page__head">
      <div class="page__info">
        <h1 class="page__title">{{ page.title | escape }}</h1>
        {% if page.description %}
        <div class="page__description">{{ page.description }}</div>
        {% endif %}
      </div>
    </div>

    <div class="page__content, comic">

      {% include comic-navigation.html %}
      
      {% capture count %}{{ page.page_count }}{% endcapture %}
      {% for num in (1..count) %}
      <img
        src="{{ site.s3_url }}/{{ page.series }}/{{ page.issue_num }}/{{ num }}.jpeg"
        alt="{{ page.series | capitalize }} {{ page.issue_name | capitalize }} {{ page.issue_num }} page {{ num }}"
      >
      {% endfor %}
      </br></br>

      {% include comic-navigation.html %}
    </div>
  </article>

</div>
<!-- end page -->