---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col col-10 col-w-12">
      <div class="post__head">
        <h1 class="post__title">{{ page.title | escape }}</h1>
        <span>
          {% if page.year_end == "ongoing" %}
          <span>({{ page.year_start }}–)</span>
          {% elsif page.year_end %}
          <span>({{ page.year_start }}–{{ page.year_end }})</span>
          {% else %}
          <span>({{ page.year_start }})</span>
          {% endif %}
        </span>
        <div class="post__description">
          {% for a in page.creators %}
            {% assign author = site.authors | where: 'username', a | first %}
            <a href="/{{ author.username }}">{{ author.name | escape }}</a>
            {% unless forloop.last %}
             &middot;
            {% endunless %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>

<!-- begin post -->
<div class="container">

  <div class="row">
    <div class="sidebar-left col col-3 col-w-4 col-d-12">
      <aside class="sidebar">
        {% include sidebar-widgets/widget-post-comic.html %}
      </aside>
    </div>

    <div class="col col-9 col-w-8 col-d-12">
      <article class="post">

        <div class="post__content">
          {{ content }}
        </div>

        <!-- {% include share-buttons.html %} -->

      </article>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-10 col-w-12">
      <div class="post__bottom">

        <!-- <div class="post__description">
          <p class="post-comic-description">
            Placeholder text
          </p>
        </div> -->
  
        <div class="post__meta">
          {% if page.tags.size >= 1 %}
          <div class="post__tags">
          {% for tag in page.tags %}
            <a href="/tag-search/?tag={{ tag | downcase | url_encode }}" class="post__tag">{{ tag }}</a>
          {% endfor %}
          </div>
          {% endif %}
          <!-- <span class="article__date">•<time datetime="{{ page.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%d %-b, %Y" %}{{ page.date | date: date_format }}</time></span> -->
        </div>
      </div>

    </div>
  </div>
</div>

<!-- end post -->

<!-- {% include post-navigation.html %} -->

{% include related-posts.html %}

{% if site.data.settings.disqus_identifier %}
  {% include disqus-comments.html %}
{% endif %}